.container {
  > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.images {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  small {
    text-align: center;
    display: block;
  }
}
