@import "../../styles/globals.colors.scss";
@import "../../styles/globals.mixins.scss";

.contentboxcontainer {
  margin-top: 1rem;

  svg {
    width: 75px;
    position: absolute;
    transform: translate(-0.85rem, -3.25rem);
  }

  .content-box-title,
  h3, span {
    max-width: 85%;
    margin-left: 5rem;
    width: 100%;

    font-family: hoss-round, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.85rem;
    line-height: 1;
  }
}

.contentboxtitle {
  max-width: 85%;
  margin-left: 5rem;
  width: 100%;

  font-family: hoss-round, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.85rem;
  line-height: 1;
}

.childrencontainer {
  @include shadow();

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  border: 3.25px solid $coolblack;
  border-radius: 18px;
  padding: 10px;
  margin: 0 12px 12px 12px;

  > * {
    flex: 1 0 48%;
    padding: 8px;
  }
}
