@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./globals.colors.scss";

body {
  background-color: $gainsborowhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: hoss-round, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-family: quasimoda, sans-serif;
  font-size: 1.85rem;
  font-weight: 560;
}

p, a {
  font-family: quasimoda, sans-serif;
  font-style: normal;
}
