@layer base {
  @font-face {
    font-family: "Comic Code";
    font-weight: 400;
    src: local("Comic Code"), url("/fonts/ComicCode-Regular.otf") format("ttf");
  }
  @font-face {
    font-family: "Comic Code";
    font-weight: 500;
    src: local("Comic Code"), url("/fonts/ComicCode-Medium.otf") format("ttf");
  }
  @font-face {
    font-family: "Comic Code";
    font-weight: 700;
    src: local("Comic Code"), url("/fonts/ComicCode-Bold.otf") format("ttf");
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./globals.colors.scss";

body {
  background-color: $gainsborowhite;
}

input,
input * {
  font-family: hoss-round, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  @media (max-width: 640px) {
    font-size: 3.15rem;
  }
}

h2 {
  font-size: 2.85rem;
  font-weight: 700;
  @media (max-width: 640px) {
    font-size: 2.15rem;
  }
}

h3 {
  font-size: 1.85rem;
  font-weight: 400;
  @media (max-width: 640px) {
    font-size: 1.45rem;
  }
}

h4 {
  font-size: 1.333rem;
  padding-bottom: 0.666rem;
  @media (max-width: 640px) {
    font-size: 1.15rem;
  }
}

p,
a {
  font-family: quasimoda, sans-serif;
  font-style: normal;
}
